{% extends 'admin/base_site.html' %}
{% load humanize %}

{% load i18n admin_static %}
{% load my_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'chosen/docsupport/prism.js' %}"></script>

    <script type="text/javascript">
        $(".chosen-select").chosen({
            disable_search_threshold: 0,
            no_results_text: "Sin resultados..",
            width: "300px",
            allow_single_deselect: true
        });
        $('.chosen-select').trigger('chosen:updated');
    </script>
{% endblock %}

{% block content %}
    <form class="form" method="get">
        <h1>Lista de Mantenimientos</h1>
        <center>
            <dl>
                <table class="table-filter table table-bordered table-stripped">
                    <tbody>
                    <tr>
                        <th style="vertical-align:middle">
                            <strong> Recurso:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <input type="text" class="search-query" placeholder="Nombre o codigo.." name="q" value="{{ q }}">
                        </td>


                        <th style="vertical-align:middle">
                            <strong> Tipo de mantenimiento:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="tipodemantenimiento" value="{{ tipodemantenimiento }}" onchange="this.form.submit();">
                                <option value=""></option>
                                <option {% if tipodemantenimiento == '0' %} selected {% endif %} value="0">Preventivo</option>
                                <option {% if tipodemantenimiento == '1' %} selected {% endif %} value="1">Correctivo</option>
                            </select>
                        </td>

                        <th style="border-top :3px solid white; border-right :3px solid white; border-bottom :3px solid white;">
                            <a class="btn btn-info" href="/admin/mantenimientos/mantenimiento" title="Limpiar Filtros">
                                <i class="fa fa-undo"></i>
                            </a>
                            <input type="submit" value="Buscar" class="btn btn-success" hidden="hidden" style="display: none">
                        </th>
                    </tr>
                    </tbody>
                </table>
            </dl>
        </center>

        <div id="next_button" align="right">

            <button onclick="this.form.submit();" class="btn btn-success" name="excel" value="excel" type="submit" title="Exportar a Excel">
                <i class="fa fa-file-excel-o"></i>
            </button>

            {% if perms.mantenimientos.add_mantenimiento %}
                <button type="button" class="btn btn-primary" onclick="location.href='/admin/mantenimientos/mantenimiento/add/';" title="Agregar Mantenimiento">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            {% endif %}

        </div>
    </form>


    <br/>

    <div align="center">
        <table id="result_list" class="table table-striped table-filter">
            <thead>
            <tr>
                <th>Recurso</th>
                <th>Tipo</th>

                <th>Fecha de mantenimiento</th>

                <th>Acciones</th>

            </tr>
            </thead>

            <tbody>
            {% for mantenimiento in object_list %}
                <tr>
                    <td>{{ mantenimiento.recurso }}</td>
                    <td>{{ mantenimiento.get_tipo_display }}</td>

                    <td>{{ mantenimiento.fecha }}</td>

                    <td>
                        {% if perms.mantenimientos.change_mantenimiento %}
                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/admin/mantenimientos/mantenimiento/{{ mantenimiento.id }}/';" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </button>
                        {% endif %}

                        {% if perms.mantenimientos.delete_mantenimiento %}
                            <button type="button" class="btn btn-danger btn-xs" onclick="location.href='/admin/mantenimientos/mantenimiento/{{ mantenimiento.id }}/delete/';" title="Borrar">
                                <i class="fa fa-minus"></i>
                            </button>
                        {% endif %}

                        <!--
                        <button type="button" class="btn btn-info btn-xs" onclick="location.href='/admin/mantenimientos/mantenimiento/{{ mantenimiento.id }}/detail/';" title="Detalle">
                            <i class="fa fa-list-ol"></i>
                        </button>
                        -->


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <table class="table">
            <td>
                <center>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="/admin/mantenimientos/mantenimiento/?page={{ page_obj.previous_page_number }}&q={{ q }}&tipodemantenimiento={{ tipodemantenimiento }}">
                                    <span aria-hidden="true">&larr;</span> Primera
                                </a>
                            </li>

                            <li>
                                <a href="/admin/mantenimientos/mantenimiento/?page={{ page_obj.previous_page_number }}&q={{ q }}&tipodemantenimiento={{ tipodemantenimiento }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range|paginator_delimiter:page_obj.number %}
                            <li>
                                <a {% if page == page_obj.number %} class="active" style="background-color:#DD4814;color:white;" {% endif %} href="/admin/mantenimientos/mantenimiento/?page={{ page }}&q={{ q }}&tipodemantenimiento={{ tipodemantenimiento }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="/admin/mantenimientos/mantenimiento/?page={{ page_obj.next_page_number }}&q={{ q }}&tipodemantenimiento={{ tipodemantenimiento }}">
                                    Siguiente
                                </a>
                            </li>

                            <li class="next">
                                <a href="/admin/mantenimientos/mantenimiento/?page={{ page_obj.paginator.num_pages}}&q={{ q }}&tipodemantenimiento={{ tipodemantenimiento }}">
                                    &Uacute;ltima <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </center>
            </td>
            <th>
                Pag. {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </th>
        </table>
    {% endif %}
{% endblock %}
