{% extends 'admin/base_site.html' %}
{% load humanize %}

{% load i18n admin_static %}
{% load my_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'chosen/docsupport/prism.js' %}"></script>

    <script type="text/javascript">
        $(".chosen-select").chosen({
            disable_search_threshold: 0,
            no_results_text: "Sin resultados..",
            width: "300px",
            allow_single_deselect: true
        });
        $('.chosen-select').trigger('chosen:updated');
    </script>
{% endblock %}

{% block content %}
    <form class="form" method="get">
        <h1>Lista de Recursos</h1>
        <center>
            <dl>
                <table class="table-filter table table-bordered table-stripped">
                    <tbody>
                    <tr>
                        <th style="vertical-align:middle">
                            <strong> Buscar:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <input type="text" class="search-query" placeholder="Nombre o codigo.." name="q" value="{{ q }}">
                        </td>


                        <th style="vertical-align:middle">
                            <strong> Tipo de recurso:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select class="chosen-select" data-placeholder="Seleccione un tipo de recurso.." name="tipoderecurso_id" value="{{ tipoderecurso_id }}" onchange="this.form.submit();">
                                <option value=""></option>
                                {% for tipoderecurso in tiposderecurso %}
                                    <option {% if tipoderecurso.pk == tipoderecurso_id %} selected {% endif %} value="{{ tipoderecurso.id }}">{{ tipoderecurso }}</option>
                                {% endfor %}
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <th style="vertical-align:middle">
                            <strong> Encargado:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select class="chosen-select" data-placeholder="Seleccione un tipo de recurso.." name="encargado_id" value="{{ encargado_id }}" onchange="this.form.submit();">
                                <option value=""></option>
                                {% for encargado in encargados %}
                                    <option {% if encargado.pk == encargado_id %} selected {% endif %} value="{{ encargado.id }}">{{ encargado }}</option>
                                {% endfor %}
                            </select>
                        </td>



                        <th style="vertical-align:middle">
                            <strong> Estado:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="estado" value="{{ estado }}" onchange="this.form.submit();">

                                <option {% if 'TODOS' in estado %} selected {% endif %} value="TODOS">----------</option>
                                <option {% if 'DISPONIBLE' in estado %} selected {% endif %} value="DISPONIBLE">DISPONIBLE</option>
                                <option {% if 'RESERVADO' in estado %} selected {% endif %} value="RESERVADO">RESERVADO</option>
                                <option {% if 'MANTENIMIENTO' in entregado %} selected {% endif %} value="MANTENIMIENTO">MANTENIMIENTO</option>
                                <option {% if 'EN_USO' in entregado %} selected {% endif %} value="EN_USO">EN USO</option>
                            </select>
                        </td>





                        <th style="border-top :3px solid white; border-right :3px solid white; border-bottom :3px solid white;">
                            <a class="btn btn-info" href="/admin/recursos/recurso" title="Limpiar Filtros">
                                <i class="fa fa-undo"></i>
                            </a>
                            <input type="submit" value="Buscar" class="btn btn-success" hidden="hidden" style="display: none">
                        </th>
                    </tr>
                    </tbody>
                </table>
            </dl>
        </center>

        <div id="next_button" align="right">

            <button onclick="this.form.submit();" class="btn btn-success" name="excel" value="excel" type="submit" title="Exportar a Excel">
                <i class="fa fa-file-excel-o"></i>
            </button>

            {% if perms.recursos.add_recurso %}
                <button type="button" class="btn btn-primary" onclick="location.href='/admin/recursos/recurso/add/';" title="Agregar Recurso">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            {% endif %}

        </div>
    </form>


    <br/>

    <div align="center">
        <table id="result_list" class="table table-striped table-filter">
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Tipo</th>

                <th>Encargado</th>

                <th>Fecha de creacion</th>
                <th>Mantenimiento preventivo (dias)</th>

                <th>Estado</th>
                <th>Acciones</th>

            </tr>
            </thead>

            <tbody>
            {% for recurso in object_list %}
                <tr>
                    <td>{{ recurso.codigo }}</td>
                    <td>{{ recurso.nombre}}</td>
                    <td>{{ recurso.tipo}}</td>
                    <td>{{ recurso.tipo.encargado }}</td>

                    <td>{{ recurso.creado }}</td>
                    <td>{{ recurso.mantenimiento_preventivo }}</td>

                    <td>{{ recurso.get_estado_display }}</td>
                    <td>
                        {% if perms.recursos.change_recurso %}
                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/admin/recursos/recurso/{{ recurso.id }}/';" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </button>
                        {% endif %}

                        {% if perms.recursos.delete_recurso %}
                            <button type="button" class="btn btn-danger btn-xs" onclick="location.href='/admin/recursos/recurso/{{ recurso.id }}/delete/';" title="Borrar">
                                <i class="fa fa-minus"></i>
                            </button>
                        {% endif %}



                        <!--
                        <button type="button" class="btn btn-info btn-xs" onclick="location.href='/admin/recursos/recurso/{{ recurso.id }}/detail/';" title="Detalle">
                            <i class="fa fa-list-ol"></i>
                        </button>
                        -->


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <table class="table">
            <td>
                <center>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="/admin/recursos/recurso/?page={{ page_obj.previous_page_number }}&q={{ q }}&tipoderecurso_id={{ tipoderecurso_id }}&encargado_id={{ encargado_id }}&estado={{ estado }}">
                                    <span aria-hidden="true">&larr;</span> Primera
                                </a>
                            </li>

                            <li>
                                <a href="/admin/recursos/recurso/?page={{ page_obj.previous_page_number }}&q={{ q }}&tipoderecurso_id={{ tipoderecurso_id }}&encargado_id={{ encargado_id }}&estado={{ estado }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range|paginator_delimiter:page_obj.number %}
                            <li>
                                <a {% if page == page_obj.number %} class="active" style="background-color:#DD4814;color:white;" {% endif %} href="/admin/recursos/recurso/?page={{ page }}&q={{ q }}&tipoderecurso_id={{ tipoderecurso_id }}&encargado_id={{ encargado_id }}&estado={{ estado }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="/admin/recursos/recurso/?page={{ page_obj.next_page_number }}&q={{ q }}&tipoderecurso_id={{ tipoderecurso_id }}&encargado_id={{ encargado_id }}&estado={{ estado }}">
                                    Siguiente
                                </a>
                            </li>

                            <li class="next">
                                <a href="/admin/recursos/recurso/?page={{ page_obj.paginator.num_pages}}&q={{ q }}&tipoderecurso_id={{ tipoderecurso_id }}&encargado_id={{ encargado_id }}&estado={{ estado }}">
                                    &Uacute;ltima <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </center>
            </td>
            <th>
                Pag. {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </th>
        </table>
    {% endif %}
{% endblock %}
