{% extends "admin/base_site.html" %}
{% load humanize %}

{% block content %}
<h1>Datos del Material</h1>
<table class="table table-striped table-filter" summary="Datos del Material.">
	<tbody>
		<tr>
			<th scope="row"> Descripcion </th>
			<td> {{ object.descripcion }} </td>
		</tr>
		<tr>
			<th scope="row"> Codigo </th>
			<td> {{ object.id }} </td>
		</tr>

		<tr>
			<th scope="row"> Unidad de Medida </th>
			<td> {{ object.unidad_de_medida }} </td>
		</tr>

		<tr>
			<th scope="row"> Categoria </th>
			<td> {{ object.categoria }} </td>
		</tr>

		<tr>
			<th scope="row"> Stock Actual </th>
			<td> {{ object.stock_actual|floatformat:"2"|intcomma|default_if_none:"&nbsp;" }} </td>
		</tr>

		<tr>
			<th scope="row"> Costo Actual </th>
			<td> {{ object.costo_actual|floatformat:"2"|intcomma|default_if_none:"&nbsp;" }} </td>
		</tr>

		<tr>
			<th scope="row"> Retiro en OT </th>
			<td><input checked={% if object.retiro_ot %}"checked"{% endif %} id="id_retiro_ot" name="retiro_ot" type="checkbox" disabled="disabled"></td>
		</tr>

	</tbody>
</table>


<button type="button" class="btn btn-primary" onclick="window.history.back(); return false;">Volver</button>

{% endblock %}