{% extends 'admin/base_site.html' %}
{% load humanize %}

{% load i18n admin_static %}
{% load my_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'chosen/docsupport/prism.js' %}"></script>

    <script type="text/javascript">
        $(".chosen-select").chosen({
            disable_search_threshold: 0,
            no_results_text: "Sin resultados..",
            width: "300px",
            allow_single_deselect: true
        });
        $('.chosen-select').trigger('chosen:updated');
    </script>
{% endblock %}

{% block content %}
    <form class="form" method="get">
        <h1>Lista de Reservas</h1>
        <center>
            <dl>
                <table class="table-filter table table-bordered table-stripped">
                    <tbody>
                    <tr>


                        <th style="vertical-align:middle">
                            <strong> Tipo de recurso:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select class="chosen-select" data-placeholder="Seleccione un tipo de recurso.." name="tipoderecurso_id" value="{{ tipoderecurso_id }}" onchange="this.form.submit();">
                                <option value=""></option>
                                {% for tipoderecurso in tiposderecurso %}
                                    <option {% if tipoderecurso.pk == tipoderecurso_id %} selected {% endif %} value="{{ tipoderecurso.id }}">{{ tipoderecurso }}</option>
                                {% endfor %}
                            </select>
                        </td>



                        <th style="vertical-align:middle">
                            <strong> Recurso:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select class="chosen-select" data-placeholder="Seleccione un recurso.." name="recurso_id" value="{{ recurso_id }}" onchange="this.form.submit();">
                                <option value=""></option>
                                {% for recurso in recursos %}
                                    <option {% if recurso.pk == recurso_id %} selected {% endif %} value="{{ recurso.id }}">{{ recurso }}</option>
                                {% endfor %}
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <th style="vertical-align:middle">
                            <strong> Solicitante:</strong>
                        </th>
                        <td style="vertical-align:middle" colspan="3" >
                            <select class="chosen-select" data-placeholder="Seleccione un solicitante.." name="solicitante_id" value="{{ solicitante_id }}" onchange="this.form.submit();">
                                <option value=""></option>
                                {% for solicitante in solicitantes %}
                                    <option {% if solicitante.pk == solicitante_id %} selected {% endif %} value="{{ solicitante.id }}">{{ solicitante }}</option>
                                {% endfor %}
                            </select>
                        </td>


                    </tr>
                    <tr>

                        <th style="vertical-align:middle">
                            <strong> Entregado:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="entregado" value="{{ entregado }}" onchange="this.form.submit();">

                                <option {% if 'TODOS' in entregado %} selected {% endif %} value="TODOS">----------</option>
                                <option {% if 'SI' in entregado %} selected {% endif %} value="SI">SI</option>
                                <option {% if 'NO' in entregado %} selected {% endif %} value="NO">NO</option>

                            </select>
                        </td>




                        <th style="vertical-align:middle">
                            <strong> Devuelto:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="devuelto" value="{{ devuelto }}" onchange="this.form.submit();">

                                <option {% if 'TODOS' in devuelto %} selected {% endif %} value="TODOS">----------</option>
                                <option {% if 'SI' in devuelto %} selected {% endif %} value="SI">SI</option>
                                <option {% if 'NO' in devuelto %} selected {% endif %} value="NO">NO</option>

                            </select>
                        </td>


                    </tr>
                    <tr>

                        <th style="vertical-align:middle">
                            <strong> Cancelado:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="cancelado" value="{{ cancelado }}" onchange="this.form.submit();">

                                <option {% if 'TODOS' in cancelado %} selected {% endif %} value="TODOS">----------</option>
                                <option {% if 'SI' in cancelado %} selected {% endif %} value="SI">SI</option>
                                <option {% if 'NO' in cancelado %} selected {% endif %} value="NO">NO</option>

                            </select>
                        </td>



                        <th style="vertical-align:middle">
                            <strong> Activo:</strong>
                        </th>
                        <td style="vertical-align:middle">
                            <select name="activo" value="{{ activo }}" onchange="this.form.submit();">

                                <option {% if 'TODOS' in activo %} selected {% endif %} value="TODOS">----------</option>
                                <option {% if 'SI' in activo %} selected {% endif %} value="SI">SI</option>
                                <option {% if 'NO' in activo %} selected {% endif %} value="NO">NO</option>

                            </select>
                        </td>




                        <th style="border-top :3px solid white; border-right :3px solid white; border-bottom :3px solid white;">
                            <a class="btn btn-info" href="/publico/reserva" title="Limpiar Filtros">
                                <i class="fa fa-undo"></i>
                            </a>
                            <input type="submit" value="Buscar" class="btn btn-success" hidden="hidden" style="display: none">
                        </th>
                    </tr>
                    </tbody>
                </table>
            </dl>
        </center>

        <div id="next_button" align="right">





        </div>
    </form>


    <br/>

    <div align="center">
        <table id="result_list" class="table table-striped table-filter">
            <thead>
            <tr>
                <th>Solicitante</th>
                <th>Tipo de Recurso</th>
                <th>Recurso</th>

                <th>Para usarse</th>


                <th>Entregado</th>
                <th>Devuelto</th>
                <th>Cancelado</th>

                <th>Creado</th>


                <th>Activo</th>



            </tr>
            </thead>

            <tbody>
            {% for reserva in object_list %}
                <tr>
                    <td>{{ reserva.solicitante }}</td>
                    <td>{{ reserva.tipo_recurso }}</td>
                    <td>{{ reserva.recurso|default_if_none:"&nbsp;" }}</td>

                    <td>{{ reserva.fecha }} ({{ reserva.hora_inicio }} a {{ reserva.hora_fin }}) </td>

                    <td>{{ reserva.fecha_hora_entrega|default_if_none:"&nbsp;" }}</td>
                    <td>{{ reserva.fecha_hora_devolucion|default_if_none:"&nbsp;" }}</td>
                    <td>{{ reserva.fecha_hora_cancelacion|default_if_none:"&nbsp;" }}</td>

                    <td>{{ reserva.creado }}</td>


                    <td>{{ reserva.get_activo_display }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <table class="table">
            <td>
                <center>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="/publico/reserva/?page={{ page_obj.previous_page_number }}&tipoderecurso_id={{ tipoderecurso_id }}&recurso_id={{ recurso_id }}&solicitante_id={{ solicitante_id }}&activo={{ activo }}&cancelado={{ cancelado }}&entregado={{ entregado }}&devuelto={{ devuelto }}">
                                    <span aria-hidden="true">&larr;</span> Primera
                                </a>
                            </li>

                            <li>
                                <a href="/publico/reserva/?page={{ page_obj.previous_page_number }}&tipoderecurso_id={{ tipoderecurso_id }}&recurso_id={{ recurso_id }}&solicitante_id={{ solicitante_id }}&activo={{ activo }}&cancelado={{ cancelado }}&entregado={{ entregado }}&devuelto={{ devuelto }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range|paginator_delimiter:page_obj.number %}
                            <li>
                                <a {% if page == page_obj.number %} class="active" style="background-color:#DD4814;color:white;" {% endif %} href="/publico/reserva/?page={{ page }}&tipoderecurso_id={{ tipoderecurso_id }}&recurso_id={{ recurso_id }}&solicitante_id={{ solicitante_id }}&activo={{ activo }}&cancelado={{ cancelado }}&entregado={{ entregado }}&devuelto={{ devuelto }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="/publico/reserva/?page={{ page_obj.next_page_number }}&tipoderecurso_id={{ tipoderecurso_id }}&recurso_id={{ recurso_id }}&solicitante_id={{ solicitante_id }}&activo={{ activo }}&cancelado={{ cancelado }}&entregado={{ entregado }}&devuelto={{ devuelto }}">
                                    Siguiente
                                </a>
                            </li>

                            <li class="next">
                                <a href="/publico/reserva/?page={{ page_obj.paginator.num_pages}}&tipoderecurso_id={{ tipoderecurso_id }}&recurso_id={{ recurso_id }}&solicitante_id={{ solicitante_id }}&activo={{ activo }}&cancelado={{ cancelado }}&entregado={{ entregado }}&devuelto={{ devuelto }}">
                                    &Uacute;ltima <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </center>
            </td>
            <th>
                Pag. {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </th>
        </table>
    {% endif %}
{% endblock %}
